@import "../lib/owlcarousel/owl.carousel"
@import "../lib/owlcarousel/owl.transitions"
@import "../lib/owlcarousel/owl.theme"

.owl-pagination
    display: none

.owl-theme .owl-controls
    position: absolute
    top: 30%
    width: 100%
    +breakpoint(mobile)
        top: 20%

    .owl-buttons
        div
            background: transparent
            position: absolute
            opacity: 1

            &:first-child
                left: 0

            &:last-child
                right: 0


.owl-carousel
    position: relative


.owl-theme .owl-controls .owl-page span
    border: 2px solid #fff
    background: #333


.banner
    @extend .owl-carousel

    .next
        +rotate(180deg)
