form
    background: url(../img/bg-contato.png) top right no-repeat
    padding: 10px 40px
    +j-cf()

    input, textarea
        color: $default_color
        width: 96%
        margin: 5px 0
        padding: 2%
        border-radius: 5px
        border: none

        +placeholder()
            color: lighten($default_color, 10%)

    button
        background-color: $second_color
        color: #fff
        text-shadow: 1px 1px 1px $default_color
        padding: 5px 16px
        margin: 5px 0
        border: none
        border-radius: 3px
        float: right



    p
        margin: 5px 0