body
    background: $default_color url(../img/pattern_body.jpg)
    color: #fff
    font-family: serif


header
    background-image: url(../img/top_bg.png), url(../img/pattern_top.jpg)
    background-repeat: no-repeat, repeat
    background-position: center center, 0 0
    height: 525px
    padding-top: 10px
    font-family: "Trebuchet MS", sans serif


.top
    +j-center($content)
    @extend %gradient
    border-radius: 2px

    &__logo
        +j-column(4/12)
        padding: 13px 15px
        display: block


section
    +j-cf()
    +j-center($content)
    padding: 50px 0 20px


a
    color: #fff
    text-decoration: none


footer
    background: url(../img/pattern_footer.jpg)
    padding: 60px 0

    .citation
        +j-center($content * 0.7)
        margin-bottom: 60px
        font-size: 1.4rem
        text-align: center
        position: relative


    .form
        +j-column(6/12)

        +breakpoint(mobile)
            +j-column(1/1)


    address
        font-size: 1rem
        font-style: normal
        +breakpoint(mobile)
            text-align: center
        strong
            font-size: 1.1rem
        p
            margin: 5px 0 35px





