.menu
    +j-cf()
    margin: 0
    padding: 0
    font-size: 0.9rem


    +breakpoint(mobile)
        width: 100%
        background-color: rgba(darken($default_color, 10%), 0.95)
        width: 70%
        position: absolute
        z-index: 99
        top: 65px
        right: 0
        max-height: 0
        transition: max-height 0.15s ease-out
        overflow: hidden

        &.open
            max-height: 300px
            transition: max-height 0.25s ease-out


        span
            float: right
            color: #aaa

    address
        font-size: 0.8rem

    .mbl
        padding: 15px
        display: none

        +breakpoint(mobile)
            display: block

        &:last-child
            +gradient()

    li
        list-style: none
        float: left
        padding: 17px 0

        +breakpoint(mobile)
            float: none
            padding: 10px 0
            color: #fff
            border-bottom: 1px solid $default_color

        +breakpoint(tablet, min)
            &:hover
                border-bottom: 4px solid yellow

        &:first-child a
            border-left: none

    a
        color: $text_color
        padding: 0 17px
        width: 100%
        border-left: 1px solid darken($text_color, 55%)

.icon-menu
    width: 3rem
    float: right
    position: absolute
    top: 20px
    right: 5px
    height: 35px
    fill: $second_color