{% load staticfiles %}
<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Storm Security</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header>
        <div class="top">
            <a href="" class="top__logo"><img src="{% static "img/logo.png" %}" alt=""></a>
            <ul class="menu">
                <li><a href="#">CONHEÇA A STORM</a></li>
                <li><a href="#">PORTIFÓLIO</a></li>
                <li><a href="#">PRODUTOS</a></li>
                <li><a href="#">CLIPPING</a></li>
                <li><a href="#">FAÇA CONTATO</a></li>
            </ul>
        </div>

        <div class="banner">
            <div class="banne__item">
                <div class="banner__caption">
                    <h1>Telecine Play</h1>
                    <p>it amet, consectetur adipisicing elit nullam non placerat nunc, nec</p>
                </div>
                <div class="banner__image">
                    <img src="{% static "img/item_banner.png" %}" alt="">
                </div>
            </div>
        </div>
    </header>

    <section>
        {% block content %}{% endblock content %}
    </section>

    {% if debug %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>