{% load staticfiles %}
<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Storm Security</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header>
        <div class="top">
            <a href="" class="top__logo"><img src="{% static "img/logo.png" %}" alt=""></a>
            <ul class="menu">
                <li><a href="#">CONHEÇA A STORM</a></li>
                <li><a href="#">PORTIFÓLIO</a></li>
                <li><a href="#">PRODUTOS</a></li>
                <li><a href="#">CLIPPING</a></li>
                <li><a href="#">FAÇA CONTATO</a></li>
            </ul>
        </div>

        <div class="banner">
            <div class="item">
                <div class="banner__caption">
                    <h1>Telecine Play</h1>
                    <p>it amet, consectetur adipisicing elit nullam non placerat nunc, nec</p>
                </div>
                <div class="banner__image">
                    <img src="{% static "img/item_banner.png" %}" alt="">
                </div>
            </div>

            <div class="item">
                <div class="banner__caption">
                    <h1>Telecine Play 2</h1>
                    <p>it amet, consectetur adipisicing elit nullam non placerat nunc, nec lorem</p>
                </div>
                <div class="banner__image">
                    <img src="{% static "img/item_banner.png" %}" alt="">
                </div>
            </div>

        </div>
    </header>

    <section>
        {% block content %}{% endblock content %}
    </section>

    <footer>
        <section>

                <div class="citation">
                    <div class="bar-l-h"></div>
                    <p>Envie-nos uma solicitação, dúvida, sugestão ou crítica. Nossa equipe responderá o contato o quanto antes</p>
                    <div class="bar-r-h"></div>
                    <div class="bar-r-v"></div>
                </div>

                <article class="form">
                    <form action="#">
                        <p>Mande sua mensagem</p>
                        <input type="text" placeholder="seu nome">
                        <input type="text" placeholder="seu email">
                        <textarea name="" placeholder="sua mensagem" cols="30" rows="5"></textarea>
                        <button>Enviar</button>
                    </form>
                </article>

                <article>
                    <address>
                        <strong>Rio de Janeiro</strong>
                        <p>
                            Av. Lucio Costa 3400 - Sl 304. Barrada Tijuca <br>
                            Rio de Janeiro / Rj - CEP 22630-010 <br>
                            Office: +55 (21) 3734-0695
                        </p>
                    </address>

                    <address>
                        <strong>New York</strong>
                        <p>
                            136 Madison Avenue - New York, NY 10016 <br>
                            Office: +1 (646) 722 3838<br>
                        </p>
                    </address>
                </article>
        </section>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% if debug %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>